@media (max-width: 670px) {
      .blog-title {
          display:none;
      }
      
      .jp_title {
          display:none!important;
      }
      .about_button {
          display:none;
      }
      
      #header {
          padding:0;
          height:50px;
      }
      
      .post {
          height:100%;
          width:100%;
          padding:0;
          
      }
      
      .article_inner {
          display:block;
          position:relative;
          padding:0px 0px;
          width:100%;
          border:0px;
      }
      
      .entry-header {
          postion:relative;
          height:200px;
          box-sizing:border-box;
          padding:60px 0;
      }
      
      .entry-title {
          display:block;
          margin:5px 0;
      }
      .eh-shadow {
          position:absolute;
          width:100%;
          height:200px;
          background:#000;
          opacity:0.5;
          top:0px;
      }
      
      .entry-content {
          padding:10px 15px;
          text-align:left;
          line-height:1.6em;
          margin:20px 0 40px 0;
      }
      
      .entry-content img{
          text-align:center;
      }
      
      .entry-footer {
          display:none;
      }
      
      .gradation {
         display: none;
      }
      
      .pagenation {
          display:none;
      }
}