  /* ------------------- artist mobile style -------------------*/
  
  .blog-title {
        display:none;
    }
    
    .jp_title {
        display:none!important;
    }
    
    .about_button {
        display:none;
    }
    
    .all_project {
        display:none;
    }
    
    .arrow {
        display:none;
    }
    
    #header {
        height:300px;
    }
    
    .artist_h1 {
        padding-top:100px;
        color:#F2F2F2;
        font-weight:normal;
    }
    
    .artist_h1_jp {
        color:#F2F2F2;
        font-weight:normal;
    }
   
    .artist_icon {
        top:10px;
        z-index:98;
    }
    
    .entry-title {
        position:relative;
        z-index:97;
    }
    
    .entry_icon {
        display:none;
    }
    
    .tag_link {
        display:none !important;
    }
    
    .entry-title {
        display:block;
        margin:35px 0 0 0;
        font-size:0.8em;
    }
    
    .entry-content {
        position:relative;
        font-size:0.75em;
        color:#F2F2F2;
        z-index:99;
        opacity: 1.0;
    }
    
   .article_inner_bg {
       z-index:2;
   }
    
    .article_inner {
        width:100%;
        height:100%;
        border:none;
    }
    
/* ------------------- artist pc style 805-------------------*/
    
  @media (max-width: 805px) {
    
    .post {
        width:100%;
    }
    
    .entry-footer {
        position:absolute;
       left:0;
       right:0;
       top:10px;
       z-index:100;
    }
    
    .artist_icon {
        display:block;
        margin:0 auto;
    }
    
    .entry-title {
        margin-top:45px;
    }
    .entry-title a {
        height:auto;
        margin:0;
        text-align:center;
    }
    
    .entry-content {
        text-align:center;
    }
      
    .article_inner_bg {
        background:#000;
        opacity:0.3;
    }
    
  }
  
/* ------------------- artist pc style -------------------*/
@media (min-width: 806px) {
    
    .main {
        
    }
    
    .post-container {
        width: auto;
        text-align: center;
        font-size:0em;
        
    }
    
    .post {
        margin-bottom:20px;
        width:200px;
        text-align:left;
        display: -moz-inline-box;  
        display: inline-block;
        vertical-align:bottom;
        font-size:16px;
        margin:10px;
        
    }
    
    
    .entry-footer {
        position:absolute;
       left:0;
       right:0;
       top:10px;
       z-index:100;
    }
    
    .artist_icon {
        display:block;
        margin:0 auto;
    }
    
    .entry-title {
        margin-top:45px;
    }
    .entry-title a {
        height:auto;
        margin:0;
        text-align:center;
    }
    
    .entry-content {
        text-align:center;
    }
    
    .entry-content p {
        text-align:left;
    }
    
    .entry-header {
        margin:5px 0;
    }
    
    .entry-header h1 {
    }
    
    .article_inner_bg {
        background:#000;
        opacity:0.3;
    }
}